@{
    ViewBag.Title = "Banners";
}

<h2>Banners</h2>

You can choose one of these banners to show Your potential advertiser, that You are ready to place his ad at Your stream. Just choose one and place it at Your stream.
<br />

    <img src="~/Images/Banners/banner_buy_this_place.png" /><br />
    <a href="~/Images/Banners/banner_buy_this_place.png" download="banner_buy_this_place.png">
        <input type="button" class="button" value="Download" /></a>

    <img src="~/Images/Banners/banner_place_your_ad_here.png" /><br />
    <a href="~/Images/Banners/banner_place_your_ad_here.png" download="banner_place_your_ad_here.png">
        <input type="button" class="button" value="Download" /></a>

    <img src="~/Images/Banners/waiting_for_your_AD.png" /><br />
    <a href="~/Images/Banners/waiting_for_your_AD.png" download="waiting_for_your_AD.png">
        <input type="button" class="button" value="Download" /></a>

    <img src="~/Images/Banners/banner_you_can_buy_this_place.png" /><br />
    <a href="~/Images/Banners/banner_you_can_buy_this_place.png" download="banner_you_can_buy_this_place.png">
        <input type="button" class="button" value="Download" /></a>

    <img src="~/Images/Banners/banner_YOUR_ad_can_be_here.png" /><br />
    <a href="~/Images/Banners/banner_YOUR_ad_can_be_here.png" download="banner_YOUR_ad_can_be_here.png">
        <input type="button" class="button" value="Download" /></a>