@model Vodad.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot password";
}

<h2>Forgot Your password?</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, htmlAttributes: null))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Forgot password form</legend>

        <ol>
            <li>
                @Html.LabelFor(m => m.Email)<br />
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Recover password" class="button" />
    </fieldset>
}

